#########
[DEFAULT]
#########

# Name of run
NAME            = uFControl
# ValveControllerRGS
CTLR_TYPE       = RGS
# Default program file path
PROGRAM_DEF     = None
# Log file location
PROGRAM_LOG     = ./logs/
# Log level to record
LOG_LEVEL       = DEBUG


#####
[RGS]
#####

# Number of valves to initialize
VALVE_NUM       = 24
# Normal (Norm) or Inverted (Inv)
VALVE_POL       = Norm
# Open or Closed default state
VALVE_STATE     = Closed
# Alias of Valve0 for program use
VALVE0          = OUT       
VALVE1          = IN
VALVE2          = WASH
VALVE3          = BSA
VALVE4          = STREP
VALVE5          = AB
VALVE6          = EXTRA
VALVE7          = PHAGE
VALVE8          = WASTE
VALVE9          = PUMP1
VALVE10         = PUMP2
VALVE11         = PUMP3
VALVE12         = VALVE12
VALVE13         = VALVE13
VALVE14         = VALVE14
VALVE15         = VALVE15
VALVE16         = VALVE16
VALVE17         = VALVE17
VALVE18         = VALVE18
VALVE19         = VALVE19
VALVE20         = VALVE20
VALVE21         = VALVE21
VALVE22         = VALVE22
VALVE23         = VALVE23


##############
[VALVE_GROUPS]
##############

PUMP1           = PUMP1,PUMP2,PUMP3


############
[TASK_ALIAS]
############

VALVE           = VALVE
PUMP            = PUMP