<!DOCTYPE html>
<html>
<head>
  <title>Configuration selection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="container-column" style="max-width: 1250px; margin: 0 auto">
    <a href="/" class="h1-link">Microfluidic Controller</a>
    <div class="container-row" style="height:60%;">
      <div class="container-column" style="max-width: 50%;">
        <h2>Configuration Files</h2>
        <div class="panel">
          <ul class="file-list" id="file-list">
            {% if model.file_list %}
              {% for item in model.file_list %}
                <li {% if model.selected == item %}class="selected"{% endif %} data-filename="{{ item }}" >{{ item }}</li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
        <form method="POST" action="/configPreview">
            <input type="hidden" id="list_selection" name="item_selected" value="{{ model.selected }}">
            <button type="submit"  {% if not model.selected %}disabled{% endif%} class="btn {% if model.selected %}btn-blue{% endif %}" id="preview" style="min-width: 200px;">Preview</button>
        </form>
      </div>
      <div class="container-column" style="max-width: 50%;">
        <h2>File Preview</h2>
        <div class="panel" >
          <div class="panel-text" id="panel-right" {% if model.selected %}contenteditable="plaintext-only"{% endif %}>{{model.preview_text | safe}}</div>
        </div>
        <form method="POST" action="/configSave">
          <div class="container-column">
            <input type="hidden" name="preview_content" id="save_content">
            <button type="submit"  {% if not model.selected %}disabled{% endif%} class="btn {% if model.selected %}btn-blue{% endif %}" id="save" style="min-width: 200px;">Save</button>
          </div>
        </form>
      </div>
    </div>   
    <div class="container-row" style="margin-top: 30px;">
      <form method="POST" action="/configLoad">
        <div class="container-column">
          <input type="hidden" id="load_selection" name="item_selected" value="{{ model.selected }}">
          <button type="submit"  {% if not model.selected %}disabled{% endif%} class="btn {% if model.selected %}btn-green{% endif %}" id="load" style="min-width: 300px;">Load Configuration</button>
        </div>
      </form>
    </div>
    <div class="container-row" style="height:10%; margin-top: 30px;">
      <div class="panel-text" id="error" style="color:rgb(255, 26, 95); font-size:xx-large; font-weight: bolder;">
        {% if error %}
          <center>{{ error }}</center>
        {% endif %}
      </div>
    </div>
  </div>

  <script>  
    const fileList = document.getElementById('file-list');
    const var_item_preview = document.getElementById("list_selection")
    const var_item_load = document.getElementById("load_selection")
    const b_preview = document.getElementById('preview');
    const b_load = document.getElementById('load');

    fileList.addEventListener('click', (event) => {
      const clickedItem = event.target;
      if (clickedItem.tagName === 'LI') {
        const selectedItem = fileList.querySelector('.selected');
        if (selectedItem) {
          selectedItem.classList.remove('selected');
        }
        clickedItem.classList.add('selected');
        var_item_preview.value = clickedItem.dataset.filename;
        var_item_load.value = clickedItem.dataset.filename;
        b_preview.removeAttribute('disabled');
        b_preview.classList.add('btn-blue');
        b_load.removeAttribute('disabled');
        b_load.classList.add('btn-green');
      }
    });

    const form_save = document.getElementById("save")
    const var_save_content = document.getElementById("save_content")
    const preview_panel = document.getElementById("editable-panel")

    form_save.addEventListener('click', function(event) {
      event.preventDefault();
      var_save_content.value = preview_panel.textContent;
      this.form.submit();
    });

    preview_panel.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
      event.preventDefault();
      document.execCommand('insertHTML', false, '\n');
      }
    });
  </script>  
</body>
</html>