<!DOCTYPE html>
<html>
<head>
  <title>Configuration selection</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    body {
        display: flex;
        height: 100vh;
        margin: 0;
    }
    </style>
</head>
<body>
    <div class="container-column">
        <div class="container-row"></div>
        <div class="container-row">
            <div class="container-column"></div>
            <div class="container-column"></div>
            <div class="container-column"></div>
        </div>
        <div class="container-row"></div>
    </div>
</body>
</html>