<!DOCTYPE html>
<html>
<head>
  <title>Button Example Layout</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container-column">
        <div class="container-column" style="height:15vh; justify-content: center;">
            <h1 style="margin-bottom: 0;">Microfluidic Controller</h1>
            <div class="container-row">
                <div class="button-inactive button-active-blue" style="margin-right: auto;">&Lt; Change Config</div>
                <h3>Example Layout - NOT FUNCTIONAL</h3>
                <div class="button-inactive btn-valve-closed" style="margin-left: auto;">Reload Config &#x27F3;</div>
            </div>
        </div>
        <div class="container-row" style="height: 100%;">
            <div class="container-column" style="border: 1px solid #ccc; width:40%;  max-height: 95%; margin-right: 1vw;">
                <div class="container-row" style="background-color: #fafafa; height: 3vh;margin-bottom:2vh;"><h2>Script Selection</h2></div>
                <select name="mySelect" style="width: 80%">
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
                <div class="button-inactive button-active-blue">Load Script</div>
                <div class="container-row" style="background-color: #fafafa; height: 3vh;margin:2vh;"><h2>Script Text</h2></div>
                <div class="panel" id="panel-right" style="max-height:40%;">
                    <div id="editable-panel" contenteditable="true">Loaded script text is editable.<br><br>Scripts that are actively being executed cannot be edited.
                    </div>
                </div>
                <div class="button-inactive button-active-blue">Save Script</div>
                <div class="container-row" style="background-color: #fafafa; height: 3vh; margin:1vh;"><h2>Script Controls</h2></div>
                <div class="container-row">
                    <div class="btn-valve btn-valve-open">&#x23EF;</div>
                    <div class="btn-valve button-active-blue">&#x23ED;</div>
                    <div class="btn-valve btn-valve-closed">&#x23F9;</div>
                </div>
            </div>
            <div class="container-column" style="border: 1px solid #ccc; max-height: 95%; margin-left: 1vw;">
                <div class="container-column" style="display:flex; justify-content: center;">
                    <div class="container-row" style="background-color: #fafafa; height: 3vh;"><h2>Input Control</h2></div>
                    <div class="container-row" style="height: 33%">
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">wash</span>
                                <div class="btn-valve btn-valve-closed">C</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">bsa</span>
                                <div class="btn-valve btn-valve-open">O</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">strep</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">A/G</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">ab</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">phage</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                    </div>

                    <div class="container-row" style="background-color: #fafafa; height: 3vh;"><h2>Flow Control</h2></div>
                    <div class="container-row" style="height: 33%">
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">in</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">out</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">p1</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">p2</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                        <div class="btn-valve-outline">
                            <span class="btn-valve-label">p3</span>
                                <div class="btn-valve" id="toggle-button-3">?</button>
                            </div>
                        </div>
                    </div>
                    <div class="container-row" style="background-color: #fafafa; height: 3vh;"><h2>Utilities</h2></div>
                    <div class="container-row" style=" height: 33%; margin-top: 2vh;">
                        <div class="container-column">
                            <div class="button-inactive btn-valve-closed">Close In/Out</div>
                            <div class="button-inactive btn-valve-open">Open In/Out</div>
                        </div>
                        <div class="container-column"><div class="button-inactive btn-valve-closed">Close All</div></div>                        
                        <div class="container-column">
                            <div class="button-inactive btn-valve-closed">Close Pumps</div>
                            <div class="button-inactive btn-valve-open">Open Pumps</div>
                        </div>
                </div>
            </div>
                <div class="container-column" style="height: 30vh;">
                    <div class="container-row" style="height: 3vh;background-color: #fafafa;"><h2>Log</h2></div>
                    <div class="panel" id="panel-right" style="margin-top: 1vh; margin-bottom:1vh;">
                        <div id="editable-panel">Log data goes here</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
