<!DOCTYPE html>
<html>
<head>
  <title>Phage IP - Rev D</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container-column">
        <div class="container-column" style="height:15vh; justify-content: center;">
            <a href="/" class="h1-link">Microfluidic Controller</a>
            <div class="container-row">
                <form method="POST" action="/changeConfig">
                    <button type="submit"  {% if script_running %}disabled{% endif%} class="button-inactive button-active-blue {% if not script_running %}btn-valve-active{% endif%}" style="margin-left: auto;">&Lt; Change Config</button>
                </form> 
                <h2 style="margin: auto;">Phage IP - Rev D</h3>
                <form method="POST" action="/reloadConfig">
                    <button type="submit"  {% if script_running %}disabled{% endif%} class="button-inactive btn-valve-closed {% if not script_running %}btn-valve-active{% endif%}" style="margin-right: auto;">Reload Config &#x27F3;</button>
                </form> 
            </div>
        </div>
        <div class="container-row" style="height: 100%;">
            <div class="container-column" style="border: 1px solid #ccc; width:40%;  max-height: 95%; margin-right: 1vw;">
                <div class="container-row" style="background-color: #fafafa; height: 3vh;margin-bottom:2vh;"><h2>Script Selection</h2></div>
                    <center>
                        <form method="POST" action="/loadScript">
                            <select id="script_selection" name="script" style="width:80%;">
                                {% if script_files %}
                                    {% for item in script_files %}
                                        <option {% if script_selected == item %}selected{% endif %} data-filename="{{ item }}" >{{ item }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <button type="submit"  {% if script_running %}disabled{% endif%} class="button-inactive button-active-blue {% if not script_running %}btn-valve-active{% endif%}" style="margin-right: auto;">Load Script</button>
                        </form>
                    </center>
                <div class="container-row" style="background-color: #fafafa; height: 3vh;margin:2vh;"><h2>Script</h2></div>      
                <div class="panel" id="panel-right" style="max-height:40%;">
                    <pre><div id="editable-panel" contenteditable="true">{{ script | safe }}</div></pre>
                </div>
                <form method="POST" id="save" action="/saveScript" style="width:100%;">
                    <center>
                        <h3 style="margin-bottom: 0; margin-top:1vh;">File name:</h3>
                        <input type="text" name="file_name" style="width: 80%; margin-bottom: 1vh; font-size:medium;" placeholder="flie_name.script">
                        <input type="hidden" id="panel-text-field" name="panel_text">
                        <button type="submit"  {% if script_running %}disabled{% endif%} class="button-inactive button-active-blue {% if not script_running %}btn-valve-active{% endif%}" style="margin-right: auto;">Save Script</button>
                    </center>
                </form>
                <div class="container-row" style="background-color: #fafafa; height: 3vh; margin:1vh;"><h2>Script Controls</h2></div>
                <div class="container-row">
                    <form method="POST" action="/toggleScript">
                        <button type="submit"  {% if script_running %}disabled{% endif%} class="btn-valve btn-valve-open btn-valve-active" style="margin-right: 1vw;">&#x23EF;</button>
                    </form>               
                </div>
            </div>
        </div>
        <div class="panel-text" id="error" style="color:rgb(255, 26, 95); font-size:xx-large; font-weight: bolder;">
            {% if error %}
            <center>{{ error }}</center>
            {% endif %}
        </div>
    </div>

    <script>
        const save = document.getElementById('save');
        const script_preview = document.getElementById('editable-panel');
        const save_preview = document.getElementById('panel-text-field');
        const preview_panel = document.getElementById("editable-panel")

        save.addEventListener('submit', function(event) {
            const content = script_preview.innerHTML;
            save_preview.value = content;
        });

        preview_panel.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
            event.preventDefault();
            document.execCommand('insertHTML', false, '\n');
            }
        });
    </script>

</body>
</html>
