<!DOCTYPE html>
<html>
<head>
  <title>Phage IP - Rev D</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
</head>
<body>
    <div class="container-column" style="margin: 0 auto">
        <div class="container-row">
            <form method="POST" action="/changeConfig">
                <button type="submit"  {% if script_running %}disabled{% endif%} class="btn script-disable  btn-blue {% if script_running %}btn-locked{% endif%}" style="margin-left: auto;">Change Config</button>
            </form> 
            <a href="/" class="h1-link" style="margin:auto; text-align: center;">Microfluidic Controller<br>Phage IP - Rev D</a>
            <form method="POST" action="/reloadConfig">
                <button type="submit"  {% if script_running %}disabled{% endif%} class="btn script-disable  btn-blue {% if script_running %}btn-locked{% endif%}" style="margin-right: auto;">Reload Config</button>
            </form> 
        </div>
        <div class="container-row" style="height: 100%;">
            <div class="container-column" style="border: 1px solid #ccc; width:30%;  max-height: 95%; margin-right: 15px;">
                <div class="container-row section-title"><h2>Script Selection</h2></div>
                    <form method="POST" action="/loadScript" style="width:100%; display: flex; flex-direction: column; align-items: center;">
                            <select id="script_selection" name="script" style="width:75%;">
                                {% if script_files %}
                                    {% for item in script_files %}
                                        <option {% if script_selected == item %}selected{% endif %} data-filename="{{ item }}" >{{ item }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <button type="submit"  {% if script_running %}disabled{% endif %} class="btn script-disable  btn-blue {% if script_running %}btn-locked{% endif %}" style="margin-bottom:15px;">Load Script</button>
                    </form>
                <div class="container-row section-title"><h2>Script</h2></div>      
                <div class="panel" style="max-height:40%;">
                    <div class="panel-text" id="script-preview-text" {% if not script_running %} contenteditable="plaintext-only" {% endif %}>{{ script }}</div>
                </div>
                <form method="POST" id="save" action="/saveScript">
                    <center>
                        <input type="text" name="file_name" style="width: 100%; margin: 10px 0 10px; font-size:medium;" placeholder="file_name">
                        <input type="hidden" id="save-panel-text-field" name="panel_text">
                        <button type="submit"  {% if script_running %}disabled{% endif%} class="btn script-disable  btn-blue {% if script_running %}btn-locked{% endif%}" style="margin-top: 0; margin-bottom:15px;"">Save Script</button>
                    </center>
                </form>
                <div class="container-row section-title"><h2>Script Controls</h2></div>
                <div class="container-row" style="width:100%;">
                    <form method="POST" id="play" action="/toggleScript">
                        <input type="hidden" id="play-panel-text-field" name="panel_text">
                        <button type="submit" {% if not script_selected %}disabled{% endif %} class="btn btn-valve {% if script_selected %}btn-green{% endif %}" style="margin: 10px;">{% if script_running %}&#x23F8;{% else %}&#x23F5;{% endif %}</button>
                    </form>
                    <form method="POST" action="/skipScript">
                        <button type="submit" {% if not script_running %}disabled{% endif %} class="btn btn-valve {% if script_running %}btn-blue{% endif%}" style="margin: 10px;">&#x23ED;</button>
                    </form>    
                    <form method="POST" action="/stopScript">
                        <button type="submit" {% if not script_running %}disabled{% endif %} class="btn btn-valve {% if script_running %}btn-red{% endif%}" style="margin: 10px;">&#x23F9;</button>
                    </form>                      
                </div>
                <label for="step_progress" style="font-size:large; margin-top:10px;">Step time: <span id="step-time"></span></label>
                <progress id="step_progress" value="90" max="100"></progress>
                <label for="step_progress" style="font-size:large; margin-top:10px;">Script time: <span id="script-time"></span></label>
                <progress id="script_progress" value="30" max="100"></progress>  
            </div>
            <div class="container-column" style="border: 1px solid #ccc; width:70%; max-height:95%">
                <div class="container-row section-title"><h2>Input Control</h2></div>
                <div class="container-row">
                    <div class="btn-valve-outline">
                        <label for="wash" class="btn-valve-label">Wash</label>
                        <button onclick="toggleValve(this)" id="wash" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['wash']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['wash']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="bsa" class="btn-valve-label">BSA</label>
                        <button onclick="toggleValve(this)" id="bsa" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['bsa']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['bsa']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="strep" class="btn-valve-label">STREP</label>
                        <button onclick="toggleValve(this)" id="strep" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['strep']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['strep']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="ag" class="btn-valve-label">A/G</label>
                        <button onclick="toggleValve(this)" id="ag" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['ag']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['ag']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="ab" class="btn-valve-label">Ab</label>
                        <button onclick="toggleValve(this)" id="ab" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['ab']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['ab']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="phage" class="btn-valve-label">Phage</label>
                        <button onclick="toggleValve(this)" id="phage" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['phage']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['phage']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                </div>
                <div class="container-row section-title"><h2>Flow Control</h2></div>
                <div class="container-row">
                    <div class="btn-valve-outline">
                        <label for="waste" class="btn-valve-label">Waste</label>
                        <button onclick="toggleValve(this)" id="waste" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['waste']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['waste']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="in" class="btn-valve-label">In</label>
                        <button onclick="toggleValve(this)" id="in" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['in']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['in']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="out" class="btn-valve-label">Out</label>
                        <button onclick="toggleValve(this)" id="out" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['out']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['out']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="p1" class="btn-valve-label">P1</label>
                        <button onclick="toggleValve(this)" id="p1" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['p1']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['p1']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="p2" class="btn-valve-label">P2</label>
                        <button onclick="toggleValve(this)" id="p2" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['p2']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['p2']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                    <div class="btn-valve-outline">
                        <label for="p3" class="btn-valve-label">P3</label>
                        <button onclick="toggleValve(this)" id="p3" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-valve {% if valves['p3']=='open' %}btn-green {% else %}btn-red{% endif %} {% if script_running %}btn-locked{% endif%}">{% if valves['p3']=='open' %}O{% else %}C{% endif %}</button>
                    </div>
                </div>
                <div class="container-row section-title"><h2>Utilities</h2></div>
                <div class="container-row" style="margin: 10px;">
                    <div class="container-column">
                        <div class="btn-valve-outline form-valve-list">
                            <button onclick="closeValves(this)" data-list='["in","out"]' id="cio" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-red btn-valve-list {% if script_running %}btn-locked{% endif%}">Close In/Out</button>
                        </div>
                        <div class="btn-valve-outline form-valve-list">
                            <button onclick="openValves(this)" data-list='["in","out"]' id="cio" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-green btn-valve-list {% if script_running %}btn-locked{% endif%}">Open In/Out</button>
                        </div>
                    </div>
                    <div class="container-column">
                        <div class="btn-valve-outline form-valve-list">
                            <button onclick="closeValves(this)" data-list='["wash","bsa","strep","ag","ab","phage","waste","in","out","p1","p2", "p3"]' id="ca" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-red btn-valve-list {% if script_running %}btn-locked{% endif%}">Close All</button>
                        </div>
                        <div class="btn-valve-outline form-valve-list">
                            <button onclick="openValves(this)" data-list='["wash","bsa","strep","ag","ab","phage","waste","in","out","p1","p2", "p3"]' {% if script_running %}disabled{% endif%} class="btn script-disable  btn-green btn-valve-list {% if script_running %}btn-locked{% endif%}">Open All</button>
                        </div>
                    </div>
                    <div class="container-column">
                        <div class="btn-valve-outline form-valve-list">
                            <button onclick="closeValves(this)" data-list='["p1","p2", "p3"]' id="cp" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-red btn-valve-list {% if script_running %}btn-locked{% endif%}">Close Pumps</button>
                        </div>
                        <div class="btn-valve-outline form-valve-list">
                            <button onclick="openValves(this)" data-list='["p1","p2", "p3"]' id="op" {% if script_running %}disabled{% endif%} class="btn script-disable  btn-green btn-valve-list {% if script_running %}btn-locked{% endif%}">Open Pumps</button>
                        </div>
                    </div>
                </div>
                <div class="container-row section-title" style="margin-bottom: 0;"><h2>Log</h2></div>
                <div class="panel" id="logger-outer" style="padding:0; margin: .5%; width:98.5%;">
                    <div class="panel-log" id="logger">{{ log }}</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var socket = io();
        const save = document.getElementById('save');
        const script_preview = document.getElementById('script-preview-text');
        const save_preview = document.getElementById('save-panel-text-field');
        const play_preview = document.getElementById('play-panel-text-field');
        const play = document.getElementById('play');
        const log_panel = document.getElementById('logger');
        const log_outer = document.getElementById('logger-outer')

        const script_disable_list = document.getElementsByClassName('script-disable')



        save.addEventListener('submit', function(event) {
            const content = script_preview.innerHTML;
            save_preview.value = content;
        });

        play.addEventListener('submit', function(event) {
            const content = script_preview.innerHTML;
            play_preview.value = content;
        });

        script_preview.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
            event.preventDefault();
            document.execCommand('insertHTML', false, '\n');
            }
        });

        function toggleValve(valve) {
            var id = valve.id
            socket.emit('toggleValve', {'valve':id})
            console.log('Send signal:', valve);
        }

        function closeValves(valves){
            const valve_list = JSON.parse(valves.dataset.list);
            socket.emit('closeValves', {'valves':valve_list});
        }

        function openValves(valves){
            const valve_list = JSON.parse(valves.dataset.list);
            socket.emit('openValves', {'valves':valve_list});
        }

        socket.on('valve', function(data) {
            var valve_button = document.getElementById(data.valve)
            if (data.action === 'open') {
                valve_button.classList.remove('btn-red')
                valve_button.classList.add('btn-green')  
                valve_button.textContent = 'O'        
          
            }
            if (data.action === 'close') {
                valve_button.classList.remove('btn-green')
                valve_button.classList.add('btn-red')    
                valve_button.textContent = 'C'        
            }
        });

        socket.on('log_msg', (data) => {
            console.log(log_panel.textContent)
            console.log(data.msg)
            log_panel.textContent += data.msg + '\n'
            log_outer.scrollTop = log_outer.scrollHeight;
        });

        socket.on('disable', () => {
            for (let i = 0; i < script_disable_list.length; i++) {
                const btn = script_disable_list[i];
                btn.disabled = true;
                btn.classList.add('btn-locked')
            }
        });

        socket.on('enable', () => {
            for (let i = 0; i < script_disable_list.length; i++) {
                const btn = script_disable_list[i];
                btn.disabled = false;
                btn.classList.remove('btn-locked')
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
                setTimeout(() => {
                log_outer.scrollTop = log_outer.scrollHeight;
            }, 50)
        });

    </script>

</body>
</html>
