{
    "config_name": "example_phage_ip_rev_d_no_driver",
    "author": "rrp",
    "date": "20250429",
    "device": "phage_ip_rev_d",
    "driver": "simulation",
    "valves": {
        "bsa": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 3
        },
        "extra": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 6
        },
        "out": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 0
        },
        "waste": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 8
        },
        "phage": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 7
        },
        "p1": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 16
        },
        "strep": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 4
        },
        "in": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 1
        },
        "wash": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 2
        },
        "ab": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 5
        },
        "p3": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 18
        },
        "p2": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 17
        }
    }
}