{
    "config_name": "phage_ip_rev_e",
    "author": "rrp",
    "date": "20250804",
    "device": "phage_ip_rev_e",
    "driver": "rgs",
    "valves": {
        "bsa": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 4
        },
        "ab": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 7
        },
        "out": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 0
        },
        "waste": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 11
        },
        "phage": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 8
        },
        "strep": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 5
        },
        "in": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 2
        },
        "wash": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 3
        },
        "ag": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 6
        },
        "elu": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 9
        },
        "extra": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 10
        },
        "sample": {
            "inv_polarity": false,
            "default_state_closed": false,
            "solenoid_number": 1
        }                  
    }
}