{
    "device": "phage_ip_rev_d",
    "driver": "rgs",
    "valves": {
        "out": {
            "solenoid_number": 0,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "in": {
            "solenoid_number": 1,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "wash": {
            "solenoid_number": 2,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "bsa": {
            "solenoid_number": 3,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "strep": {
            "solenoid_number": 4,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "ab": {
            "solenoid_number": 5,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "extra": {
            "solenoid_number": 6,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "phage": {
            "solenoid_number": 11,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "waste": {
            "solenoid_number": 9,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "p1": {
            "solenoid_number": 16,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "p2": {
            "solenoid_number": 17,
            "default_state_closed": false,
            "inv_polarity": false
        },
        "p3": {
            "solenoid_number": 18,
            "default_state_closed": false,
            "inv_polarity": false
        }
    }
}